<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма відправлена успішно</title>
    <link rel="stylesheet" href="~/css/success.css" />
</head>
<body>
    <h2>Форма відправлена успішно</h2>
    <p>Дякуємо за реєстрацію на консультацію. Ми зв'яжемося з вами найближчим часом.</p>
</body>
</html>
